/***********************
***  GENERAL
***
***********************/
* {margin: 0px; padding: 0px; box-sizing: border-box;}
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap');

font-family: 'Fira Mono', monospace; 400 / 700
font-family: 'Lobster', cursive;
font-family: 'VT323', monospace;
**/
html {font-size: 100%;}
:root
{
	--normal-font: 'Fira Mono', monospace;
	--title-font: 'Lobster', cursive;
	--special-font: 'VT323', monospace;
}
body 
{
	font-family: var(--normal-font);
	font-weight: 400;
}

/***********************
***  Header
***
***********************/

/***********************
***  search
***
***********************/

/***********************
***  Pokecard
***
***********************/



/***********************
***  footer
***
***********************/
