/***********************
***  GENERAL
***
***********************/
* {margin: 0px; padding: 0px; box-sizing: border-box;}
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lobster&family=VT323&display=swap');

font-family: 'Fira Mono', monospace; 400 / 700
font-family: 'Lobster', cursive;
font-family: 'VT323', monospace;
**/
html {font-size: 100%;}
:root
{
	--normal-font: 'Fira Mono', monospace;
	--title-font: 'Lobster', cursive;
	--special-font: 'VT323', monospace;
}
body 
{
	font-family: var(--normal-font);
	font-weight: 400;
}
.info_title {
	font-family: var(--normal-font);
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
}
.carta 
{	
	width: 90%;
	margin: 10px auto;
	padding: 0;
	border: 8px solid #252552;
    border-radius: 4px;
    box-shadow: 0px 3px 4px 1px #e7e6f4;
}
.div_interior
{
	box-shadow: inset 55px 11px 49px 13px #12109226;
}
.align_center
{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.row
{
	display: flex;
	flex-flow: row;
}
/***********************
***  Header
***
***********************/
#title 
{
	font-family: var(--title-font);
	font-size: 3.5rem;

}
/***********************
***  search
***
***********************/
#search_form
{
	padding: 1rem;
}
/***********************
***  Pokecard
***
***********************/
.custom_fieldset
{
	border-width: 34px 0px 0px 0px;
	border-color: black;
	border-style: solid;
}
.legend_title
{
	margin-left: 8%;
    text-transform: capitalize;
    font-size: 2.2rem;
}
.secondary
{
	font-size: 1.6rem;
    margin-right: 26%;
    text-align: right;
}
.terciary
{
	font-size: 1.6rem;
    margin-right: 16%;
    text-align: right;
}
#card_main_img
{
	width: 50%;
	height: 50%;
}
#generalInfo
{
	font-family: var(--special-font);
	padding: 0.5rem;
    font-size: 1.2rem;
}
.dos_puntos
{
	font-family: var(--normal-font);
	font-weight: 700;
	font-size: 1rem;
}
.info 
{
	font-family: var(--normal-font);
	font-size: 1.1rem;
}
#shape_type_habitat table {padding: 1rem;}
#shape_type_habitat table tr td:first-child
{
	text-align: right;
}
#shape_type_habitat table tr td:nth-child(2)
{
	text-align: left;
}


/***********************
***  footer
***
***********************/
