<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>mini Pokedex</title>
</head>
<body>

<form method="POST" action="../index.php">
	<div class="form_section">
		<label for="id_pokemon">Id del Pokemon</label>
		<input type="number" name="id_pokemon" required aria-describedby="sugerencia_id" min="1" max="150">
		<div class="sugerencias" id="sugerencia_id">Prueba con un número del 1 a 151 para dar con los pokemones originales</div>
	</div>
	<input type="submit" name="submit" value="buscar">
</form>


</body>
</html>