/* Font Families */
$normal: 'Fira Mono', monospace;
$title1: 'Lobster', cursive;
$title2: 'Lobster Two', cursive;
$special: 'VT323', monospace;
$contrast: monospace;

/* Font Vars */

$lightColor: white;
$darkColor: black;

/* variables */

$borderRadius: 7px;
$bold: 500;
$bolder: 600;