* {margin: 0px; padding: 0px; box-sizing: border-box;}
:root {
    font-family: $normal;
}
/* backgrounds */
.homeBg {
    background: url('../img/cellphone_bg.jpg') no-repeat center center fixed;
}
.nightBg {
    background: url('../img/night_bg.png') no-repeat center center fixed;
}
.homeBg, .nightBg {
    font-size: 62.5%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
/*Wrapper*/
.wrapper {
    margin: auto;
    width: 320px;
    padding:1rem;
    @include mediumMobile {
        width:370px;
    }
    @include largeMobile {
        width: 420px;
    }
}

/* Head */
.head {
    position: relative;
    margin-bottom: 6rem;
    &__logo {
        margin:auto;
        width: 300px;
        height: 130px;
        padding-top: 1rem; /*espacio para DATE/TIME */
        @include mediumMobile {
            width: 348px;
        }
        &__title {
            position:relative;
            font-family: $title1;
            color: $lightColor;
            font-size: 8rem;
            text-align: center;
            width:250px;
            margin:auto;
            z-index: 3;
            @include mediumMobile {
                font-size: 9rem;
                width: 300px;
            }
            @include largeMobile {
                width: 330px;
                font-size: 10rem;
            }
        }
        &__firma {
            position:relative;
            font-family: $special;
            color: $darkColor;
            font-size: 2rem;
            text-align: right;
            width: 63px;
            margin: auto;
            bottom: 15px;
            z-index: 2;
        }
        &__img {
            position:relative;
            width: 108px;
            height: 0px;
            margin: auto;
            bottom:75px;
            left: 50px;
            z-index: 1;
            & img {width:100%;}
        }
    }
    &__time {
        position:absolute;
        right:0;
        top:0;
    }  
}