@mixin cards {
    margin: 1rem auto;
}
@mixin cardsTitle {
    font-size: 2.5rem;
    font-family: $title2;
    padding:1rem 1rem 1rem 2rem;
    border-radius: $insideBorderRadius;
}

#response {

}
.pokecard {
    @include cards;
    &__mainCard {
        @include outlineSection;      
        &__title {
            @include cardsTitle;
            background-color: #002f58;
            color: $lightColor;
            width: $smInsideWidth;
            @include mediumMobile {
                width: $mediumMobileInsideWidth;
            }
        }
        &__img {
            margin: auto;
            width: $smInsideWidth;
            @include mediumMobile {
                width: $mediumMobileInsideWidth;
            }
            & img {width: 100%;}
        }
    }
    &__info {
        @include outlineSection;
        margin-top:1rem;
        &__title {
            @include cardsTitle;
            color: $mainColor;
        }
        &__text {
            font-family: $normal;
            font-size: 1.5rem;
            background-color: $mainColor;
            color: $lightColor;
            padding: 1rem 2rem;
            line-height: 3rem;
            border-radius: $insideBorderRadius;
        }
    }
}

.pokeAnexo {
    @include cards;
    &__card {
        @include outlineSection;
        &__title {
            @include cardsTitle;
        }
        &__slider {
            $anchoMax: 270px;
            width: $anchoMax;
            overflow-x: hidden;
            border-radius: $insideBorderRadius;
            @include mediumMobile {
                $anchoMax: 318px;
                width: $anchoMax;
            }
            @mixin slides {
                width:$anchoMax;
                padding: 1rem;
                border-radius: $insideBorderRadius;
            }
            &:hover .pokeAnexo__card__slider__slide {
                right: $anchoMax;
            }
            &__slide {
                position:relative;
                right: 0px;
                transition: all 0.5s ease-out;
                margin-top: 1rem;
                width: calc(#{$anchoMax} * 2);
                display:flex;
                flex-flow:row;
                align-items: center;
                border-radius: $insideBorderRadius;
                &__title {
                    @include slides;
                    background-color: $mainColor;
                    color: $lightColor;
                    font-family: $title2;
                    font-size: 2.3rem;
                    letter-spacing: 3px;
                    text-align: center;
                }
                &__text {
                    @include slides;
                    background-color: $lightColor;
                    color: $mainColor;
                    font-family: $normal;
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
        }
    }
}

.evoPath {
    @include cards;
    &__card {
        @include outlineSection;
        overflow:hidden;
        &__title {
            @include cardsTitle;
            background-color: #fdfdfd8f;
            color: $mainColor;
            position:relative;
            z-index: 3;
        }
        &__evolutions {
            display: flex;
            flex-flow: column;
            &__evo {
                position:relative;
                z-index: 3;
                display: flex;
                flex-flow: row;
                align-items: center;
                height: 50px;
                margin-top: 30px;
                background-color: $mainColor;
                border-radius: $insideBorderRadius;
                padding: 1rem;
                &:last-child {margin-bottom:30px;}
                &__name {
                    font-family: $title2;
                    font-size: 2rem;
                    letter-spacing: 3px;
                    width: $smInsideWidth;                    
                    color: $lightColor;
                }
                &__img {
                    width: 150px;
                    height: 36px;
                    position: relative;
                    right: 0px;
                    bottom: 30px;
                    & img {width: 100%;}
                }
            }
        }
        &__bg {
            height:0px;
            width:406px;
            position:relative;
            bottom: 339px;
            right: 135px;
            z-index: 1;
            opacity: .8;
            & img {width: 100%; transform: scaleX(-1);}
        }

    }
}

.moveList {
    @include cards;
    &__card {
        @include outlineSection;
        background-color: $mainColor;
        &__title {
            @include cardsTitle;
            color: $lightColor;
        }
        &__container {
            display: flex;
            flex-wrap:wrap;
            &__move {
                background-color: $lightColor;
                color: $mainColor;
                font-size: 1.5rem;
                padding: .5rem;
                flex: 1 0 auto;
                margin: .2rem;
            }
        }
    }

}