.searchBar {
    @include outlineSection;
    &__form {
        width: 268px;
        height: 115px;
        &__container {
            & label {
                font-size: 1.8rem;
                font-weight: $bold;
                margin-bottom: 1rem;
                display: block;
                text-align: center;
                background: $mainColor;
                color: $lightColor;
                padding: 1rem;
                border-radius: $insideBorderRadius;
            }
            &__row {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-bottom: 1rem;
                & input {
                    font-size: 1.5rem;
                    padding: 1rem;
                }
                
                &__button {
                    width: 30px;
                    border: none;
                    background: none;
                    & img {width:100%;}
                }
            }
            &__sugerencias {
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
    &__hints {
        $fontSize: 1.4rem;
        @keyframes growWhenRdy {
            0% {font-size: 0px;}
            100% {font-size: $fontSize;}
        }
        animation: growWhenRdy;
        animation-duration: .8s;
        transition: .8s;
        font-size: $fontSize;
        margin: 1rem;
        text-align: center;
        font-weight: $bolder;
    }
}