/***********************
***  GENERAL
***
***********************/
* {margin: 0px; padding: 0px; box-sizing: border-box;}
html 
{
	font-size: 100%;
	background: url('../img/cellphone_bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
:root
{
	--normal-font: 'Fira Mono', monospace;
	--title-font: 'Lobster', cursive;
	--special-font: 'VT323', monospace;
}
body 
{
	font-family: var(--normal-font);
	font-weight: 400;
}
.align_justify_center 
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_class {width: 100%;}

/***********************
***  Header
***
***********************/
header
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
}
.day_header
{
	background-color: #0e0c0c45;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
}
.night_header
{
	background-color: #0e0c0c45;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
}
#header_logo 
{
	align-items: center;
    justify-content: center;
    flex-flow: row;
    width: 400px;
    height: 150px;;
}
h1
{
	font-size: 5rem;
	font-family: var(--title-font);
	color: white;
	padding: 20px 0px 0px 20px;
}
#firma 
{
	font-size: 2rem;
	font-family: var(--special-font);
	position: relative;
	bottom: 18px;
	left: 122px;
	color: white;
	letter-spacing: 6px;
}
#header_logo img
{
	width: 200px;
    position: relative;
    left: 184px;
    bottom: 127px;
}
/***********************
***  section_inicio
***
***********************/
main
{
	margin: 10% auto 0px auto;
}
h2, p {padding: 1rem;}
section
{
	width: 80%;
	max-width: 630px;
    margin: auto;
    background-color: #ffffff91;
    padding: 1.5rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
    text-align: center;
}
#miniball {width: 20px; display: inline-block;}
#miniball img {width: 100%;}

@media (min-width: 800px)
{
	section
	{
		padding: 2.5rem;
	}
}

/***********************
***  search_bar
***
***********************/
input#id_search
{
	padding: 0.1rem;
    width: 40px;
    height: 30px;
    text-align: center;
    font-family: var(--special-font);
    font-size: 1.3rem;
    border: 3px solid #ee3652;
    border-radius: 11px;
}
#search_id_form
{
	flex-flow: column;
    margin: 3px 0px 10px 0px;
    color: white;
    border-bottom: 3px solid #203d8e52;
    background-color: #6a92f294;
}
#search_id_form div button
{
	background: none;
    border: none;
    width: 30px;

}
#search_id_form div button img
{
	position: relative;
	top: 16px;
	right: 4px;
}
#sugerencia_id 
{
	font-family: var(--special-font);
	margin: 0 0 10px 0;
}


/***********************
***  Pokecard
***
***********************/



/***********************
***  footer
***
***********************/
footer
{
	width: 100%;
	margin-top: 10px;
	display:flex;
	flex-flow: row;
    background: #755343b8;
    border-top: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-top-left-radius: 40px;
}
#footer_logo
{
	width: 18%;
	position: relative;
	left: 0;
	top: 0;
}
#footer_logo img
{
	width: 100%;
}
@media (min-width: 800px)
{
	footer
	{
		border-top-left-radius: 28px;
	}
	#footer_logo
	{
		width: 100px;
		position: static;
	}
}
footer.day_footer
{
	background: #8b7a51f2;
}
footer.night_footer
{
	background: #181829;
	color: white;
}
.footer_section
{
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: 30px;
}
.footer_section
{
	margin-left: 0px;
}
.footer_section li
{
	list-style: disc inside none;
}
#copyrights
{
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: capitalize;
	padding: 0px 1rem 5px 0px;
	text-align: center;
}