/***********************
***  GENERAL
***
***********************/
* {margin: 0px; padding: 0px; box-sizing: border-box;}
html 
{
	font-size: 100%;
	background: url('../img/cellphone_bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
:root
{
	--normal-font: 'Fira Mono', monospace;
	--title-font: 'Lobster', cursive;
	--special-font: 'VT323', monospace;
}
body 
{
	font-family: var(--normal-font);
	font-weight: 400;

}
html, body {
	max-width: 100%;
	overflow-x: hidden;	
}
.align_justify_center 
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_class {width: 100%;}

/***********************
***  Header
***
***********************/
header
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
}
.day_header
{
	background-color: #0e0c0c45;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
}
.night_header
{
	background-color: #0e0c0c45;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
}
#header_logo 
{
	align-items: center;
    justify-content: center;
    flex-flow: row;
    width: 400px;
    height: 150px;;
}
h1
{
	font-size: 5rem;
	font-family: var(--title-font);
	color: white;
	padding: 40px 0px 0px 35px;
}
#firma 
{
	font-size: 2rem;
	font-family: var(--special-font);
	position: relative;
	bottom: 18px;
	left: 130px;
	color: white;
	letter-spacing: 6px;
}
#header_logo img
{
	width: 200px;
	position: relative;
	left: 196px;
	bottom: 127px;
}
/***********************
***  main
***
***********************/
main
{
	margin: 10% auto 0px auto;
	height: 70vh;
}
h2, p {padding: 1rem;}
section
{
	width: 80%;
	max-width: 630px;
    margin: 0px auto 20px auto;
    background-color: #ffffff91;
    padding: 1.5rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-radius: 8px;
    text-align: center;
}
#miniball {width: 20px; display: inline-block;}
#miniball img {width: 100%;}

@media (min-width: 800px)
{
	section
	{
		padding: 2.5rem;
	}
}
/***********************
***  menu
***
***********************/
#menu_header
{
	box-shadow: 0px 12px 10px -9px black;
}
#menu_header h2
{
	text-align: center;
	text-transform: capitalize;
	padding:  2rem;
	font-size: 2rem;
	color: white;
}
#menu_container
{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: right;

}
#menu_button
{
	margin: 2% 2% 0px 0px;
	position: sticky;
	top: 5%;
	z-index: 1;
}
#menu_button button
{
	background-color: #fff0;
	border: none;
	width: 12vw;
	max-width: 55px;
}
#menu_button img
{
	width: 100%;
	cursor: pointer;
	-webkit-transition:  -webkit-transform 2s;
}
#menu_button img:hover, #menu_button img:active
{
	-webkit-transform:  rotate(360deg) translateZ(0);
}
#menu_nav
{
	position: absolute;
	width: 0px;
	height: 109vh;
	width: 70%;
	max-width: 320px;
	left: -100%;
	-webkit-transition:  -webkit-transform 1s;
	transition-duration: 1s;
	transition-property: width, left;
	z-index: 5;
	background-color: #1f4252eb;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-flow: column;
}
#menu_nav a
{
	width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem;
}
#menu_nav a:hover h3
{
	text-shadow: 2px 1px 1px #7b4040;
    font-size: 1.50rem;
}
#menu_nav a:hover
{
	background-color: gray;
}
/*#menu_nav a:nth-child(2)
{
	margin-top: 30px;
}*/
#menu_nav a h3
{
	padding-left: 40px;
	color: white;
}
#menu_nav a img
{
	width: 20%;
    max-width: 110px;
    position: relative;
    left: 0;
}
/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}
@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}

#menu_nav a:hover .wiggler {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}


/***********************
***  search_bar
***
***********************/
input#id_search
{
	padding: 0.1rem;
    width: 40px;
    height: 30px;
    text-align: center;
    font-family: var(--special-font);
    font-size: 1.3rem;
    border: 3px solid #ee3652;
    border-radius: 11px;
}
#search_id_form
{
	flex-flow: column;
    margin: 3px 0px 10px 0px;
    color: white;
    border-bottom: 3px solid #203d8e52;
    background-color: #6a92f294;
}
#search_id_form div button
{
	background: none;
    border: none;
    width: 30px;

}
#search_id_form div button img
{
	position: relative;
	top: 16px;
	right: 4px;
}
#sugerencia_id 
{
	font-family: var(--special-font);
	margin: 0 0 10px 0;
}


/***********************
***  Pokecard
***
***********************/



/***********************
***  footer
***
***********************/
footer
{
	position: absolute;
	bottom: -20%;
	width: 100%;
	height: 10.8vh;
	margin-top: 10px;
	display:flex;
	flex-flow: row;
    background: #755343eb;
    border-top: 1px solid black;
    box-shadow: 3px 3px 3px #00000063;
    border-top-left-radius: 40px;
}
#footer_logo
{
	width: 18%;
	position: relative;
	left: 0;
	top: 0;
}
#footer_logo img
{
	width: 100%;
}
@media (min-width: 800px)
{
	footer
	{
		border-top-left-radius: 28px;
	}
	#footer_logo
	{
		width: 100px;
		position: static;
	}
}
footer.day_footer
{
	background: #8b7a51f2;
}
footer.night_footer
{
	background: #181829;
	color: white;
}
.footer_section
{
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: 30px;
}
.footer_section
{
	margin-left: 0px;
}
.footer_section li
{
	list-style: disc inside none;
}
#copyrights
{
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: capitalize;
	padding: 0px 1rem 5px 0px;
	text-align: center;
	color: #ebe8e8;
}