@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lobster&family=Lobster+Two:wght@400;700&family=VT323&display=swap");
/* Font Families */
/* Font Vars */
/* variables */
/* Width considerando el padding (10px x lado) 
del wrapper para el contenedor xxWidth. 
Luego in xxInsideWidth para
aquello que esté dentro del contenedor. */
/* Media Queries */
section {
  background-color: aliceblue;
  padding: .5rem;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 3px #00000085;
          box-shadow: 0px 0px 3px #00000085;
  width: 300px;
  margin: auto;
}

@media only screen and (min-width: 370px) {
  section {
    width: 348px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Fira Mono", monospace;
}

/* backgrounds */
.homeBg {
  background: url("../img/cellphone_bg.jpg") no-repeat center center fixed;
}

.nightBg {
  background: url("../img/night_bg.png") no-repeat center center fixed;
}

.homeBg, .nightBg {
  font-size: 62.5%;
  background-size: cover;
}

/*Wrapper*/
.wrapper {
  margin: auto;
  width: 320px;
  padding: 1rem;
}

@media only screen and (min-width: 370px) {
  .wrapper {
    width: 370px;
  }
}

/* Head */
.head {
  position: relative;
  margin-bottom: 6rem;
}

.head__logo {
  margin: auto;
  width: 300px;
  height: 130px;
  padding-top: 1rem;
  /*espacio para DATE/TIME */
}

@media only screen and (min-width: 370px) {
  .head__logo {
    width: 348px;
  }
}

.head__logo__title {
  position: relative;
  font-family: "Lobster", cursive;
  color: white;
  font-size: 8rem;
  text-align: center;
  width: 250px;
  margin: auto;
  z-index: 3;
}

@media only screen and (min-width: 370px) {
  .head__logo__title {
    font-size: 9rem;
    width: 300px;
  }
}

.head__logo__firma {
  position: relative;
  font-family: "VT323", monospace;
  color: black;
  font-size: 2rem;
  text-align: right;
  width: 63px;
  margin: auto;
  bottom: 15px;
  z-index: 2;
}

.head__logo__img {
  position: relative;
  width: 108px;
  height: 0px;
  margin: auto;
  bottom: 75px;
  left: 50px;
  z-index: 1;
}

.head__logo__img img {
  width: 100%;
}

.head__time {
  position: absolute;
  right: 0;
  top: 0;
}

.searchBar {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
}

.searchBar__form {
  width: 268px;
  height: 115px;
}

@media only screen and (min-width: 370px) {
  .searchBar__form {
    width: 316px;
  }
}

.searchBar__form__container label {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  background: #002f58;
  color: white;
  padding: 1rem;
  border-radius: 4px;
}

.searchBar__form__container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1rem;
}

.searchBar__form__container__row input {
  font-size: 1.5rem;
  padding: 1rem;
}

.searchBar__form__container__row__button {
  width: 30px;
  border: none;
  background: none;
}

@media only screen and (min-width: 370px) {
  .searchBar__form__container__row__button {
    width: 40px;
  }
}

.searchBar__form__container__row__button img {
  width: 100%;
}

.searchBar__form__container__sugerencias {
  font-size: 1.2rem;
  text-align: center;
}

.searchBar__hints {
  -webkit-animation: growWhenRdy;
          animation: growWhenRdy;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-transition: .8s;
  transition: .8s;
  font-size: 1.4rem;
  margin: 1rem;
  text-align: center;
  font-weight: 600;
}

@-webkit-keyframes growWhenRdy {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 1.4rem;
  }
}

@keyframes growWhenRdy {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 1.4rem;
  }
}

.errorSection {
  margin: 1rem auto;
}

.errorSection__errorMsg {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1rem;
}

.pokecard {
  margin: 1rem auto;
}

.pokecard__mainCard {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
}

.pokecard__mainCard__title {
  font-size: 2.5rem;
  font-family: "Lobster Two", cursive;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 4px;
  background-color: #002f58;
  color: white;
  width: 268px;
}

@media only screen and (min-width: 370px) {
  .pokecard__mainCard__title {
    width: 316px;
  }
}

.pokecard__mainCard__img {
  margin: auto;
  width: 268px;
}

@media only screen and (min-width: 370px) {
  .pokecard__mainCard__img {
    width: 316px;
  }
}

.pokecard__mainCard__img img {
  width: 100%;
}

.pokecard__info {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
  margin-top: 1rem;
}

.pokecard__info__title {
  font-size: 2.5rem;
  font-family: "Lobster Two", cursive;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 4px;
  color: #002f58;
}

.pokecard__info__text {
  font-family: "Fira Mono", monospace;
  font-size: 1.5rem;
  background-color: #002f58;
  color: white;
  padding: 1rem 2rem;
  line-height: 3rem;
  border-radius: 4px;
}

.pokeAnexo {
  margin: 1rem auto;
}

.pokeAnexo__card {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
}

.pokeAnexo__card__title {
  font-size: 2.5rem;
  font-family: "Lobster Two", cursive;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 4px;
}

.pokeAnexo__card__slider {
  width: 270px;
  overflow-x: hidden;
  border-radius: 4px;
}

@media only screen and (min-width: 370px) {
  .pokeAnexo__card__slider {
    width: 318px;
  }
}

.pokeAnexo__card__slider:hover .pokeAnexo__card__slider__slide {
  right: 318px;
}

.pokeAnexo__card__slider__slide {
  position: relative;
  right: 0px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 1rem;
  width: calc(318px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.pokeAnexo__card__slider__slide__title {
  width: 318px;
  padding: 1rem;
  border-radius: 4px;
  background-color: #002f58;
  color: white;
  font-family: "Lobster Two", cursive;
  font-size: 2.3rem;
  letter-spacing: 3px;
  text-align: center;
}

.pokeAnexo__card__slider__slide__text {
  width: 318px;
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  color: #002f58;
  font-family: "Fira Mono", monospace;
  font-size: 1.8rem;
  text-align: center;
}

.evoPath {
  margin: 1rem auto;
}

.evoPath__card {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
  overflow: hidden;
}

.evoPath__card__title {
  font-size: 2.5rem;
  font-family: "Lobster Two", cursive;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 4px;
  background-color: #fdfdfd8f;
  color: #002f58;
  position: relative;
  z-index: 3;
}

.evoPath__card__evolutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.evoPath__card__evolutions__evo {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-top: 30px;
  background-color: #002f58;
  border-radius: 4px;
  padding: 1rem;
}

.evoPath__card__evolutions__evo:last-child {
  margin-bottom: 30px;
}

.evoPath__card__evolutions__evo__name {
  font-family: "Lobster Two", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  width: 268px;
  color: white;
}

.evoPath__card__evolutions__evo__img {
  width: 150px;
  height: 36px;
  position: relative;
  right: 0px;
  bottom: 30px;
}

.evoPath__card__evolutions__evo__img img {
  width: 100%;
}

.evoPath__card__bg {
  height: 0px;
  width: 406px;
  position: relative;
  bottom: 339px;
  right: 135px;
  z-index: 1;
  opacity: .8;
}

.evoPath__card__bg img {
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.moveList {
  margin: 1rem auto;
}

.moveList__card {
  border: 1px solid #7a7a7a;
  border-radius: 4px;
  padding: 1rem;
  -webkit-box-shadow: 0px 1px 3px #000000b3;
          box-shadow: 0px 1px 3px #000000b3;
  background-color: #002f58;
}

.moveList__card__title {
  font-size: 2.5rem;
  font-family: "Lobster Two", cursive;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 4px;
  color: white;
}

.moveList__card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.moveList__card__container__move {
  background-color: white;
  color: #002f58;
  font-size: 1.5rem;
  padding: .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: .2rem;
}
/*# sourceMappingURL=main.css.map */